.container{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.filters{
    display: flex;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    position: relative;
}

button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 10px;
}

button:hover{
    opacity: 90%;
}

.locations{
    height: 100%;
    width: 25%;
    border-right: 1px #dddddd solid;
}

.amenities{
    height: 100%;
    width: 25%;
}

h3{
    font-weight: 600;
    margin-top: 10px;
    margin-left: 35px;
}

h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: -12px;
    margin-left: 35px;
}
.popover{
    display: none;
    background-color: #fafafa;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul{
    margin: 0%;
    padding: 0;
}
li{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    margin-bottom: 5px;
    padding-left: 15px;
}
div:hover >.popover{
    display: block;
}