.places{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
.places h1{
    font-size: 30px;
    width: 100%;
    padding-left: 20px;
}
article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #ff5a5f solid 1px;
    border-radius: 4px;
}
.places h2{
    font-size: 30px;
    text-align: center;
}